<section class="w-full min-h-[100vh] flex justify-center pt-5 pb-7">

    <section class="w-[96%]">

        <!-- section-1 -->
        <div class="w-full md:grid md:grid-cols-2 md:flex md:justify-between md:items-center md:mb-5">

            <div class="flex items-center">
                <button routerLink="/home"
                    class="p-2 text-[12px] md:text-[16px] text-[white] cursor-pointer rounded-[8px] bg-[#6777EF] shadow-xl flex items-center"><mat-icon
                        class="me-1">keyboard_backspace</mat-icon>
                    Go back</button>
                <h1 class="md:text-[1.3rem] text-[#767676] ms-3">Employee Attendance</h1>
            </div>

            <div class="flex md:justify-end text-[#767676] opacity-0 md:opacity-100">
                <mat-icon>home</mat-icon>
                <mat-icon>chevron_right</mat-icon>
                <span class="ps-2">Attendance</span>
                <mat-icon>chevron_right</mat-icon>
                <span class="ps-2">Employee Attendance</span>
            </div>
        </div>

        <!-- section-2 -->
        <section class="w-full h-auto bg-white p-3 md:p-6 rounded-xl shadow-xl">

            <h2 class="text-[#5B626B] mb-3">Employee Attendance</h2>

            <!-- sec-1 -->
            <div class="w-full h-auto grid grid-cols-5 gap-5 mt-4">

                <div class="bg-[#ECF0F4] p-3 rounded-xl shadow-xl">
                    <img src="" alt="Employee Img">
                </div>

                <div class="bg-[#ECF0F4] p-3 rounded-xl shadow-xl">
                    <h1 class="text-[0.9rem] font-medium">Employee Name : </h1>
                    <p></p>
                </div>

                <div class="bg-[#ECF0F4] p-3 rounded-xl shadow-xl">
                    <h1 class="text-[0.9rem] font-medium">Employee ID :</h1>
                    <p></p>
                </div>

                <div class="bg-[#ECF0F4] p-3 rounded-xl shadow-xl">
                    <h1 class="text-[0.9rem] font-medium">Joning Date :</h1>
                    <p></p>
                </div>

                <div class="bg-[#ECF0F4] p-3 rounded-xl shadow-xl">
                    <h1 class="text-[0.9rem] font-medium">Department :</h1>
                    <p></p>
                </div>

            </div>


            <!-- sec-2 -->
             <div class="w-full mt-10 grid grid-cols-4 gap-10">

                <div class="flex flex-col justify-center items-center gap-3 p-3 bg-[#6777EF] rounded-xl shadow-xl">
                    <p class="text-[white] text-[1.7rem]">{{ checkInTime || '00 : 00' }}</p>
                    <p class="text-[white]">Average In Time</p>
                </div>

                <div class="flex flex-col justify-center items-center gap-3 p-3 bg-[#6777EF] rounded-xl shadow-xl">
                    <p class="text-[white] text-[1.7rem]">{{ checkOutTime || '00 : 00' }}</p>
                    <p class="text-[white]">Average Out Time</p>
                </div>

                <div class="flex flex-col justify-center items-center gap-3 p-3 bg-[#6777EF] rounded-xl shadow-xl">
                    <p class="text-[white] text-[1.7rem]">{{ totalWorkingHours || '00 : 00' }}</p>
                    <p class="text-[white]">Total Working Hours</p>
                </div>

                <div class="flex flex-col justify-center items-center gap-3 p-3 bg-[#6777EF] rounded-xl shadow-xl">
                    <p class="text-[white] text-[1.7rem]">{{ breakTime || '00 : 00' }}</p>
                    <p class="text-[white]">Break Time</p>
                </div>


                <!-- check-in-out-btn -->
                <div class="w-full flex gap-5">

                    <button
                        class="w-auto bg-green-600 text-white p-2 px-3 flex items-center justify-center gap-1   rounded-lg hover:bg-green-700 shadow-xl cursor-pointer"
                        (click)="onCheckIn()" [disabled]="isCheckedIn">
                        <mat-icon>check_circle_outline</mat-icon> Check In
                    </button>

                    <button class="bg-red-600 text-white p-2 px-3 flex items-center justify-center gap-1 rounded-lg hover:bg-red-700 shadow-xl cursor-pointer"
                        (click)="onCheckOut()" [disabled]="!isCheckedIn">
                        <mat-icon>not_interested</mat-icon> Check Out
                    </button>

                </div>

            </div> 
    
        </section>

    </section>

</section>