<form [formGroup]="data.form" (ngSubmit)="onSubmit()" class="w-auto h-[25rem] md:h-[30rem] p-6 overflow-auto">

     <!-- Form Header -->
    <div class="flex justify-between items-center mb-4 sticky top-0 z-10 bg-[#FAF9FD]">
        <h2 class="text-lg font-medium">{{ data.isEdit ? 'Edit Task' : 'New Task' }}</h2>
        <div class="space-x-2">
            <button mat-icon-button type="submit">
                <mat-icon>save</mat-icon>
            </button>
            <button mat-icon-button type="button" (click)="onNoClick()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>

    <div class="grid grid-cols-1 md:grid md:grid-cols-2 gap-3">

        <!-- Title -->
        <mat-form-field appearance="outline" class="mb-2">
            <mat-label>Title</mat-label>
            <input matInput placeholder="Task Title" formControlName="title" required />
            <button mat-icon-button matSuffix>
                <mat-icon>bookmark_border</mat-icon>
            </button>
            <mat-error *ngIf="data.form.get('title')?.hasError('required')">
                Task title is required
            </mat-error>
        </mat-form-field>

        <!-- Assigned Name -->
        <mat-form-field appearance="outline" class="mb-2">
            <mat-label>Assign To</mat-label>
            <mat-select formControlName="assignedTo" required>
                <mat-option *ngFor="let employee of data.employees" [value]="employee.id">
                    {{ employee.firstName }} {{ employee.lastName }} ({{ employee.department }})
                </mat-option>
            </mat-select>
            <mat-error *ngIf="data.form.get('assignedTo')?.hasError('required')">
                Employee assignment is required
            </mat-error>
        </mat-form-field>

        <!-- client-name -->
        <mat-form-field appearance="outline" class="mb-2">
            <mat-label>Client Name</mat-label>
            <input matInput placeholder="Client Name" formControlName="clientname" required />
            <mat-error *ngIf="data.form.get('clientname')?.hasError('required')">
                Client name is required
            </mat-error>
        </mat-form-field>

        <!-- Priority -->
        <mat-form-field appearance="outline" class="mb-2">
            <mat-label>Priority</mat-label>
            <mat-select formControlName="priority" required>
                <mat-option *ngFor="let priority of data.priorityList" [value]="priority">
                    {{ priority }}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="data.form.get('priority')?.hasError('required')">
                Priority is required
            </mat-error>
        </mat-form-field>

        <!-- Task Date -->
        <mat-form-field appearance="outline" class="mb-2">
            <mat-label>Task Date</mat-label>
            <input matInput [matDatepicker]="taskDatePicker" formControlName="taskdate">
            <mat-datepicker-toggle matSuffix [for]="taskDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #taskDatePicker></mat-datepicker>
        </mat-form-field>

        <!-- Due Date -->
        <mat-form-field appearance="outline" class="mb-2">
            <mat-label>Due Date</mat-label>
            <input matInput [matDatepicker]="dueDatePicker" formControlName="duedate">
            <mat-datepicker-toggle matSuffix [for]="dueDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #dueDatePicker></mat-datepicker>
        </mat-form-field>


    </div>

    <!-- Event Details -->
    <mat-form-field appearance="outline" class="w-full">
        <mat-label>Event Details</mat-label>
        <textarea matInput rows="4" formControlName="eventdetails"></textarea>
    </mat-form-field>



</form>