<form [formGroup]="data.form" (ngSubmit)="onSubmit()" class="w-auto h-[25rem] md:h-[30rem] p-6 overflow-auto">

    <!-- Form Header -->
    <div class="flex justify-between items-center mb-4 sticky top-0 z-10 bg-[#FAF9FD]">
        <h2 class="text-lg font-medium">{{ data.isEdit ? 'Edit Task' : 'New Task' }}</h2>
        <div class="space-x-2">
            <button mat-icon-button type="submit">
                <mat-icon>save</mat-icon>
            </button>
            <button mat-icon-button type="button" (click)="onNoClick()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>

    <!-- Event Details -->
    <mat-form-field appearance="outline" class="w-full">
        <mat-label>Event Details</mat-label>
        <textarea matInput rows="4" formControlName="eventdetails"></textarea>
    </mat-form-field>



</form>