<mat-toolbar class="header-toolbar">
  <div class="header-left">
    <div class="logo-container" routerLink="/home">
      <img src="https://einfosoft.com/templates/admin/kuber/source/light/assets/images/logo.png" alt="Logo">
      <h1>KUBER</h1>
    </div>
    
    <button mat-icon-button (click)="toggleSidebar()" class="menu-button">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <div class="header-right">
    <button [matMenuTriggerFor]="menu" class="profile-button cursor-pointer">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item><mat-icon>settings</mat-icon>Setting</button>
      <button mat-menu-item (click)="logout()"><mat-icon>logout</mat-icon>Logout</button>
    </mat-menu>
  </div>
</mat-toolbar>