.active-bg {
  background-color: #2196f3;
  color: white;
  
}

.completed-bg {
  background-color: #4caf50;
  color: white;
}

.running-bg {
  background-color: #ffeb3b;
  color: black;
}

.pending-bg {
  background-color: #9e9e9e;
  color: white;
}

.not-started-bg {
  background-color: #000;
  color: white;
}

.cancelled-bg {
  background-color: #f44336;
  color: white;
}
