<section class="w-full min-h-[90vh] flex justify-center items-start pt-5 pb-7">


    <section class="w-[96%]">

        <!-- section-1 -->
        <div class="w-full md:grid md:grid-cols-2 md:flex md:justify-between md:items-center md:mb-5">

            <div class="flex items-center">
                <button routerLink="/allproject"
                    class="p-2 text-[12px] md:text-[16px] text-[white] cursor-pointer rounded-[8px] bg-[#6777EF] shadow-xl flex items-center"><mat-icon
                        class="me-1">keyboard_backspace</mat-icon>
                    Go back</button>
                <h1 class="md:text-[1.3rem] text-[#767676] ms-3">Projects Details</h1>
            </div>

            <div class="flex md:justify-end text-[#767676] opacity-0 md:opacity-100">
                <mat-icon>home</mat-icon>
                <mat-icon>chevron_right</mat-icon>
                <span class="ps-2">Projects</span>
                <mat-icon>chevron_right</mat-icon>
                <span class="ps-2">All Projects</span>
            </div>
        </div>


        <!-- section-2 -->
        <section *ngIf="projectData" class="w-full h-auto bg-white p-3 md:p-6 rounded-xl shadow-xl">

            <h2 class="text-[#5B626B] mb-2">Project Details :</h2>

            <div class="w-full h-auto p-3">
                <h1 class="text-[#F68C1F] text-[1.5rem]">{{projectData.title}}</h1>
                <p class="mt-2"><span class="text-[#555555]">Status:</span>
                    <span class="px-3 py-1 rounded-[5px] text-white text-[0.9rem] ms-3"
                        [ngClass]="getStatusClass(projectData.status)">{{projectData.status}}</span>
                </p>

                <div class="w-full h-auto sm:grid sm:grid-cols-2 mt-3 gap-10">
                    <div class="flex flex-col gap-3">
                        <p><span class="text-[#555555] me-2">Leader :</span> {{projectData.leader}}</p>
                        <p><span class="text-[#555555] me-2">Team :</span> {{projectData.team}}</p>
                        <p><span class="text-[#555555] me-2">Department :</span> {{projectData.department}}</p>
                       
                        <p class="flex items-center">
                            <span class="text-[#555555]" >Priority :</span>
                            <span class="text-[#555555] ms-3 flex items-center gap-1"
                                [ngClass]="getPriorityClass(projectData.priority)">
                                <mat-icon>{{ getPriorityIcon(projectData.priority) }}</mat-icon>
                                {{ projectData.priority }}
                            </span>
                        </p>
                       
                        <p><span class="text-[#555555] me-2 leading-2">Description :</span> {{projectData.description}}</p>
                    </div>
                    <div class="leading-10">
                        <p><span class="text-[#555555] me-2">Client :</span> {{projectData.client}}</p>
                        <p><span class="text-[#555555] me-2">Created :</span> {{projectData.startDate}}</p>
                        <p><span class="text-[#555555] me-2">Deadline :</span> {{projectData.endDate}}</p>
                        <p><span class="text-[#555555] me-2">Price :</span> ${{projectData.price}}</p>
                    </div>
                </div>
            </div>
        </section>

    </section>

</section>