<div class="w-full h-[100vh] grid grid-cols-1 lg:grid-cols-2">

    <div class="bg-[#ECF0F4] hidden lg:block flex justify-center items-center">
        <img src="https://einfosoft.com/templates/admin/kuber/source/light/assets/images/pages/bg-02.png" alt=""
            class="h-[100%]">
    </div>


    <div class="w-full flex flex-col justify-evenly items-center ">

        <div class="w-[90%] lg:w-[60%]">

            <div class="">
                <p class="mt-2 text-[1.8rem]">Sign Up</p>
                <p class="text-[gray]">Enter details to create your account</p>
            </div>

            <!-- form -->

            <form [formGroup]="signupForm" (ngSubmit)="onSignUp()" class="mb-0 space-y-6 mt-10">

                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Username</mat-label>
                    <input type="text" matInput formControlName="name" placeholder="Admin">
                    <mat-icon matSuffix>person</mat-icon>
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput formControlName="email" placeholder="Email">
                    <mat-icon matSuffix>mail</mat-icon>
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Password</mat-label>
                    <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password"
                        placeholder="****">
                    <button mat-icon-button matSuffix type="button" (click)="togglePassword()">
                        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" formControlName="confirmPassword"
                        placeholder="****">
                    <button mat-icon-button matSuffix type="button" (click)="toggleConfirmPassword()">
                        <mat-icon>{{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Select Role</mat-label>
                    <mat-select formControlName="role">
                        <mat-option value="admin">Admin</mat-option>
                        <mat-option value="employee">Employee</mat-option>
                        <mat-option value="client">Client</mat-option>
                    </mat-select>
                </mat-form-field>




                <div *ngIf="error" class="text-red-600 text-sm">{{ error }}</div>

                <div class="flex items-center justify-between">
                    <span>Already Registered? <a routerLink="/login" class="text-[blue]">Login</a></span>
                </div>

                <div>
                    <button type="submit"
                        class="w-full cursor-pointer flex justify-center py-4 px-4 rounded-[50px] text-sm font-medium text-[black] hover:text-[white] bg-[#E3E3E4] hover:bg-blue-700">
                        Register
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>