<section class="w-full min-h-[100vh] flex justify-center pt-5 pb-7">
    <section class="w-[96%]">
        <!-- Section -1 -->
        <div class="w-full flex flex-col md:flex-row md:justify-between md:items-center mb-5">
            <div class="flex items-center mb-4 md:mb-0">
                <h1 class="md:text-[1.3rem] text-[#767676] ms-3">Task</h1>
            </div>
            <div class="flex md:justify-end text-[#767676] opacity-0 md:opacity-100 items-center">
                <mat-icon>home</mat-icon>
                <mat-icon>chevron_right</mat-icon>
                <span class="ps-2">Home</span>
                <mat-icon>chevron_right</mat-icon>
                <span class="ps-2">Task</span>
            </div>
        </div>
        <!-- section-2 -->
        <section class="w-full bg-[white] p-6 rounded-xl shadow-xl">
            <!-- sec-1 -->
            <div class="w-full h-auto">
                <h1 class="text-[#5B626B] text-[1.7rem] font-medium">Tasks</h1>
                <p class="text-[#5B626B]">Total task</p>
            </div>
            <!-- sec-2 -->
            <div class="w-full h-auto mt-5 ">
                <mat-tab-group dynamicHeight>
                    <mat-tab label="All Tasks">
                        <div class="example-small-box mat-elevation-z4">
                            Small content
                        </div>
                    </mat-tab>
                    <mat-tab label="Add Task">
                        <div class="example-large-box mat-elevation-z4">
                            <form action="">
                                
                            </form>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </section>
    </section>
</section>